@import "../abstracts/variables";
.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        outline-offset: 1rem;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        &--pic1 {
            top: -2rem;
            left: 0;
        }

        &--pic2 {
            top: 2rem;
            right: 0;
        }

        &--pic3 {
            top: 10rem;
            left: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            z-index: 2;
        }
    }
    &:hover &__photo:not(:hover)  {
        transform: scale(.95);
    }
}

